.checkout__header {
    margin-top : 20px;
    margin-left: 20px;

}

.em,
.del {
    margin-left: 20px;
}

hr {
    margin-top   : 10px;
    margin-left  : 20px;
    margin-bottom: 10px;
    opacity      : 0.5;
    color        : #DDDDDD;


}

.checkout__title {
    margin-top: 10px;
}